# just include what little we want
*
!*.rst
!requirements*
!setup.py
!src
!tests

# now exclude what we don't need from that part
# (last match wins)
# Do not copy over file we know to be platform specific
src/lib
**/*.egg-info

# we want a clean build
**/*.pyc
**/*.pyo
**/*.so
dist
build
*.zip
