# Do not copy over file we know to be platform specific
src/lib
**/*.egg-info

# we want a clean build
**/*.pyc
**/*.pyo
**/*.so
dist
build
*.zip

# Stuff not needed
.tox
venv
mnt
.git*
logs*
htmlcov
notes_*
