git+https://gitlab.com/m2crypto/m2crypto.git@0.26.0#egg=M2Crypto
mar==2.2.3
backports.lzma==0.0.10 ; python_version < "3.3"
boto3==1.7.4
botocore==1.10.4
certifi==2018.4.16
cffi==1.11.5; platform_python_implementation != 'pypy'
chardet==3.0.4
docutils==0.14
fleece==0.15.1
futures==3.2.0; python_version == '2.6' or python_version == '2.7'
idna==2.6
jmespath==0.9.3
pyasn1==0.2.3
python-dateutil==2.6.1
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
structlog==18.1.0
typing==3.6.4
urllib3==1.22
wrapt==1.10.11
